<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>StaticPages#home</h1>
      <p>Find me in app/views/static_pages/home.html.erb</p>
    </div>
  </div>
</header>

<nav class="outer-nav left vertical">
  <% @poems.each do |poem| %>
    <%= link_to poem.title, poem, :class => 'icon-home' %>
  <% end %>
</nav>
