$theme-primary: #f05f40;
$theme-dark: #222;

$sans-serif-fonts: "'Open Sans', Arial, sans-serif;";
$serif-fonts: "'Playfair Display', 'Helvetica Neue', Helvetica, serif;";

/*$font-size-base:          14px !default;*/
/*$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px*/
/*$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px*/
