// Place all the styles related to the poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "mixins";
/*@import "navigation";*/

h1 {
  font-family: $serif-fonts;
}


/*Styles for poems*/

/*Formatting for poems*/
.center {text-align: center;}
.right {text-align: right;}
.justify {text-align: justify;}
.printer {}

.small { font-size: $font-size-small; }
.large { font-size: $font-size-large; }


p.ti-1 { text-indent: 1.5em; }

.ti-2 {padding-left: 3em;}
.ti-3 {padding-left: 4em;}

/*Font rendering*/
.sc { font-variant: small-caps; }
.bold {font-weight: bold; }

.pb {display: none;}

/*Poems*/
.linegroup {

  margin-top: 2.5em;
  margin-bottom: 2.5em;

  p {
    line-height: .8em;
  }

}

span.readings {
  display: none;
  .witness {
    disply: none; /*for now; need to handle this in js*/
  }
}


/*Title page*/
.title-page {
  text-align: center;
}
.doc-title {font-size: $font-size-large;}
.title-part {}
.byline {}
.doc-author {}
.doc-imprint {}



